<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>
  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>
  <p>
    <strong>Employee number:</strong>
    <%= employee.employee_number %>
  </p>
  <p>
    <strong>Private number:</strong>
    <%= employee.private_number %>
  </p>
  <p>
    <strong>Company Branch:</strong>
    <%= employee.company_branch.name %>
  </p>
</div>
