<%=  bootstrap_form_with(model: company_branch) do |form| %>
  <% if company_branch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company_branch.errors.count, "error") %> prohibited this company_branch from being saved:</h2>
      <ul>
        <% company_branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <%= form.text_area :address %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
